<div class="row">

  <div class="col-md-12 text-center">


    <p>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>




    <div class="container">

      <div class="alert alert-light" role="alert">
        <h1><i class="fas fa-clinic-medical"></i> Country Details</h1>
        <hr>
      </div>


    </div>

    <div class="container">
      <div class="alert alert-success" *ngIf='message'>{{message}}</div>
    </div>



    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Capital City</th>
          <th>Main Language</th>
          <th>Currency</th>
          <th>Population</th>
          <th>President</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <!--   for (Todo todo: todos) {  -->
        <tr *ngFor="let con of countries">
          <td>{{con.id}}</td>
          <td>{{con.name}}</td>
          <td>{{con.capital}}</td>
          <td>{{con.language}}</td>
          <td>{{con.currency}}</td>
          <td>{{con.population}}</td>
          <td>{{con.president}}</td>
          <td><button (click)="updateCountry(con.id)" class="btn btn-success">Update</button></td>
          <td><button mat-raised-button color="warn" (click)="deleteCountry(con.id)" >Delete</button></td>

        </tr>

        <!-- } -->
        </tbody>

      </table>

      <div class="row">
        <button mat-raised-button color="primary" (click)="addCountry()">Add</button>&nbsp;

      </div>

      <button mat-raised-button color="primary">Primary</button>


    </div>

  </div>
</div>

